/* resetCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* -----ここから下に記述してください----- */

html {
    font-size: 20px;
    scroll-behavior: smooth;
}
body {
    font-family: europa, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ";
}
input[type="submit"] {
    padding: 0;
    outline: none;
    background: none;
}
.ttl_bg {
    padding-bottom: 60px;
    text-align: center;
}
.ttl {
    position: relative;
    display: inline-block;
    font-family: fantasy;
    font-size: 1.8rem;
    font-weight: bold;
}
.ttl:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.5px;
    display: inline-block;
    width: 20px;
    height: 2.5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #000;
}
#concept_link,
#application_link,
#gallery_link,
#card_link,
#contact_link{
    margin-top:-100px;
    padding-top:100px;
}

/* -----header css----- */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgb(000,000,000,.5);
}
.header__bg {
  position: relative;
  z-index: 2;
  padding: 30px;
}
.header__logo a {
  font-family: cursive;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}
.header__cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__cat input,
.header__cat label {
  display: none;
}
.header__navi__list {
  display: flex;
}
.header__navi__item span {
  position: relative;
}
.header__navi__item span:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 1px;
  background: #fff;
  opacity: 0;
  transition: all .8s cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.header__navi__item:hover span:after {
  opacity: 1;
  left: 0;
  width: 100%;
}
.header__navi a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  color: #fff;
}
/* -----main css----- */
.mainKv {
  position: relative;
  background-image: url(../../assets/images/kv.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  min-height: 660px;
}
.mainKv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainKv__title {
  font-family: fantasy;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 10px 10px 5px #000;
}

@media screen and (max-width:768px) {
  html {
    font-size: 16px;
  }

  .header__bg {
    padding: 10px;
  }
  .header__logo a {
    font-size: 1.2rem;
  }
   /* ヘッダーハンバーガーメニュー */
   .header__cat input,
   .header__cat label {
     display: block;
   }
   .header__cat input {
     display: none;
   }
   .header__cat label {
     position: absolute;
     right: 10px;
     clear: both;
   }
   span.hamburger__icon {
     display: inline-block;
     width: 35px;
     height: 25px;
   }
   span.hamburger__icon i {
     position: absolute;
     width: 100%;
     height: 2px;
     background-color: #fff;
     display: block;
     transition:all 1s ease-in-out;
   }
   span.hamburger__icon i:nth-child(1) {
     top: 0;
   }
   span.hamburger__icon i:nth-child(2) {
    margin: auto;
    top: 0;
    bottom: 0;
    }
    span.hamburger__icon i:nth-child(3) {
      bottom: 0;
    }
    .header__cat input:checked + label span.hamburger__icon i:nth-child(1) {
      margin: auto;
      transform: rotate(45deg);
      /* right: 0; */
      bottom: 0;
      /* left: 0; */
      top: 0;
    }
    .header__cat input:checked + label span.hamburger__icon i:nth-child(2) {
      transform: rotateX(90deg);
      top: 0;
      bottom: 0;
    }
    .header__cat input:checked + label span.hamburger__icon i:nth-child(3) {
      margin: auto;
      transform: rotate(-45deg);
      top: 0;
      /* right: 0; */
      bottom: 0;
      /* left: 0; */
    }
    .header__cat input:checked ~ .header__navi {
      z-index: 99;
      opacity: 1;
      transform: translateX(0);
    }
    .header__navi {
      position: fixed;
      opacity: 0;
      background-color: rgba(255, 255, 255, 0.7);
      top: 50px;
      right: 0;
      /* 2次元移動：100%で画面外へ */
      transform: translateX(100%);
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: all 1s ease-out;
    }
    .header__navi__wrap {
      width: 100%;
      background-color: #fff;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      /* アニメーションの時間 */
      transition-duration: 1s;
      transition-property: right;
      overflow-y: scroll;
    }
    .header__cat input:checked ~ .header__navi .header__navi__wrap {
      right: 0;
    }
    .header__navi__list {
      margin: 0;
      display: block;
      justify-content: inherit;
    }
    .header__navi__item {
      border-bottom: 1px solid #000;
    }
    .header__navi__item a {
      padding: 0 50px;
      color: #000;
      font-size: 24px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      justify-content: center;
      font-weight: 700;
      line-height: 1;
      transition: background-color .1s ease-in-out;
    }
    .mainKv__wrap {
      height: 100vh;
      background-position: center right -200px;
  }







}